<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LogFileLocation" value="C:\Users\{0}\AppData\Local\ScreenTime\"/>
    <add key="LogFileName" value="ScreenTime.json"/>
  </appSettings>
</configuration>